// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .wp_property_slider-js{
    .slick-next{
      right: -1.6rem;
    }
    .slick-prev{
      left: -1.6rem;
    }
  }
  .contact_block{
    bottom: 1rem;
    flex-wrap: nowrap;
    max-width: 62px;
    max-height: 62px;
    &--btn {
      max-height: 50px; //mob
      max-width: 50px;
      .btn-ico {
        height: 48px;
        width: 48px;
        padding: 10px 12px 6px 6px;
      }
    }
    &--contacts{
      margin-bottom: 0;
    }
    &--socials {
      &__img{
        margin-left: 12px;
      }
    }
    &.open{
      max-width: 900px;
      max-height: 62px
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .collapse.show{
    box-shadow: none;
  }
  .parallax__layer--base {
    transform: translateZ(-1px) translateY(-50%) scale(2.05);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .wpp_search_elements{
    padding: 1em;
    margin: 0;
    background: rgba(#fff, 0.6);
    transition: 0.7s all ease-in-out;

    //transition: 1.5s all ease;
    select.form-control{
      max-width: 180px;
    }
    select.form-control.operation{
      max-width: 150px;
    }
  }
  .wpp_search_properties_widget .wpp_search_elements ul{
    list-style: none;
    padding-left: 0;
  }
  .wpp_search_elements,
  .wpp_search_elements ul,
  .wpp_search_elements li,
  .wpp_search_elements ul li{
    display: flex;
    flex-wrap: wrap; //???
  }
  .wpp_search_properties_widget .wpp_search_elements li{
    flex-basis: 100%;
    margin-bottom: 1em;
  }
  .wpp_search_elements li + li{
    margin-left: 1.2em;
  }
  .wpp_search_properties_widget .wpp_search_elements .wpp_search_label{
    margin-bottom: 0;
    width: unset;
    vertical-align: middle;
    line-height: 38px;
    padding-right: 0.6em;
  }
  .wpp_search_elements .wpp_dash{
    vertical-align: middle;
    line-height: 38px;
    padding-left: 0.6em;
    padding-right: 0.6em;
  }
  .wpp_search_attribute_wrap{
    display: flex;
  }
  input.wpp_search_input_field_min,
  input.wpp_search_input_field_max {
    width: 5.6em;
  }
  .wpp_search_properties_widget .wpp_search_elements li{
    flex-basis: auto;
    margin-bottom: 0;
  }
  //===js active wp property search filter style====
  .wpp_search--btns_block.external{
    display: none;
  }
  .wpp_search_collaps--block{
    max-height: 0;
    transition: 0.7s all ease-in-out;
    //transition: .7s all cubic-bezier(0.46, 0.17, 0.58, 0.91);
    overflow: hidden;
  }

  .wpp_search_title--block.active~.wpp_search_collaps--block{
    max-height: 40px;
    margin-top: 1rem;
  }
  //===js active wp property search filter style====

  .benefits_homepage>.row {
    flex-wrap: nowrap;
  }
  .benefit {
    max-width: 20%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .parallax__layer--base {
    transform: translateZ(-1px) translateY(-60%) scale(2.05);
  }
}