.parallax {

}
.parallax__group {
  position: relative;
  overflow: hidden;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}

//.parallax__layer--base {
//  top: 0;
//  transform: translateZ(-1px) translateY(-40%) scale(2.05);
//}
//
//.parallax__layer--back {
//  top: -200%;
//  transform: translateZ(-2px) scale(3.05);
//}