.wrapper{
  overflow-x: hidden;
}
.wrapper-navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $wrapper-navbar-height;
  z-index: $zindex-navbar;
}
@include media-breakpoint-up(lg){
  .admin-bar .wrapper-navbar{
		top: 32px;
  }
}

.collapse{
  transition: $property-card-transition;
}
.collapse.show{
  box-shadow: inset 0 0 0 500px rgba($black, 0.6), 0 -50px 0 60px rgba($black, 0.6);
}
nav.navbar{
  background-color: rgba(0,0,0, 0.5);
  border-bottom: 1px solid rgba($light, 0.2);
  .menu-item .nav-link{
    color: #fff;
  }
  .menu-item.active .nav-link,
  .menu-item .nav-link:hover{
    color: $secondary;
  }
}
.entry_header{
  height: 56.25vw;
  //padding-top: $wrapper-navbar-height;
  &--img{
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
  }
  &--block_title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--title{
    padding: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 4px #000;
  }
}
.hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: $zindex-slider;
  overflow: hidden;
  .carousel-inner,
  .carousel-item{
    height: 100%;
  }
  .carousel-item img{
    height: 100% !important;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
  }
}
#wrapper-hero.wrapper-hero{
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.main-content-wrapper:not(.index-wrapper) {
  margin-top: 0;
  padding-top: 0;
}
.main-content-wrapper{
  margin-bottom: $wrapper-footer-height;
  background: #fff;
  box-shadow: 0 0.3rem 1.5rem rgba($black, 0.8);
}
.homepage_block{
  padding-top: 40px;
  padding-bottom: 40px;
  .hompage_header{
    margin-bottom: 60px;
    text-align: center;
    color: $primary;
    text-shadow: 1px 2px 4px $secondary;
  }
}
.wrapper-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $wrapper-footer-height;
  color: $light;
  background-image: url('../img/footer_bg.jpg');
  background-size: cover;
  background-position:  center;
  box-shadow: inset 0 0 0 1000px rgba($primary,.8);
  z-index: $zindex-footer;
  overflow: hidden;
}
//===== abouts =====
.about_homepage{
  &--header{
    position: relative;
    &_img{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 100vw;
      margin-left: -50vw;
      background-attachment: fixed;
      background-size: cover;
    }
    &_title{
      position: relative;
      height: 100%;
      width: 100%;
    }
  }
  &--body{
    padding-top: 60px;
  }
}
//===== benefits =====
.benefits_homepage>.row {
  flex-wrap: wrap;
}
.benefit{
  max-width: 90%;
  &--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &--ico{
    display: flex;
    width: 120px;
    height: 120px;
    padding: 2em;
    border-radius: 50%;
    background: $secondary;
    box-shadow: 1px 2px 4px #C1C1C1;
    transition: 0.7s all ease;
    &_svg{
      transition: 0.7s all ease;
    }
  }
  &--title{
    min-height: 99.3px;
    padding: 1rem 0;
    position: relative;
    color: $primary;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 1px;
      width: 45%;
      background: $primary;
      opacity: 0.5;
      transform: translateX(-50%);
      transition: 0.7s all ease;
    }
  }
  &--text{
    margin-bottom: 46px;
  }
}
.benefit--card:hover .benefit{
  &--ico{
    background: $primary;
    box-shadow: 2px 4px 6px #C1C1C1;
    &_img{
      filter: invert(100%);
    }
  }
  &--title:after{
    width: 100%;
  }
}

//===== END benefits =====
// ====== contacts block in footer
.contact_block{
  position: fixed;
  right: 1rem;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 1035;
  padding: 6px;
  max-width: 54px;
  max-height: 54px;
  background: rgba($white, 0.8);
  border-radius: $border-radius;
  transition: 0.7s all ease-in-out;
  overflow: hidden;
  &--btn{
    position: absolute;
    top: 6px;
    left: 6px;
    max-height: 42px;//mob
    max-width: 42px;
    padding: 0; //mobile
    z-index: 1036;
    .btn-ico{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      padding: 7px 7px 3px 3px;
      &_svg{
        width: 100%;
        height: 100%;
        fill: $primary;
      }
    }
    &:hover .btn-ico_svg{
      fill: $secondary
    }
  }
  &--contacts{
    padding-left: 70px;
    opacity: 0;
    transition: 0.7s all ease-in-out;
    margin-bottom: 12px;
  }
  .contact_link{
    display: block;
    height: 25px;
    line-height: 25px;
  }
  &--socials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    opacity: 0;
    transition: 0.7s all ease-in-out;
    &__img{
      height: 50px;
      border-radius: $border-radius;
    }
  }
  &.open{
      max-width: 288px;
      max-height: 120px

  }
  &.open &--contacts,
  &.open &--socials{
    opacity: 1;
  }
}



//social-bar end
// ====== contacts block in footer

// ====== general styles ======
main.site-main{
  padding-top: 50px;
}
.entry-meta{
  padding: 1rem 0;
}
article.post{
  margin-bottom: 20px;
  & + .post-navigation{
    padding-top: 1.5rem;
    .nav-links{
      flex-wrap: nowrap;
      .nav-previous,
      .nav-next{
        //flex: 0 1 50%;
        max-width: 50%;
      }
      .nav-previous{
        padding-right: .5rem;
      }
      .nav-next{
        padding-left: .5rem;
      }
    }
  }
}

// ====== end general styles ======

//===== post listing =====
.post_card{
  article.post{
    border-radius: $border-radius;
    overflow: hidden;
  }
  &--link{
    display: block;
    text-decoration: none;
	margin-bottom: 1rem;
  }
  .entry_header{
    position: relative;
    height: 360px;
    overflow: hidden;
    &::before{
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to top, rgba(#000, 0.6), transparent);
      z-index: 1;

    }
    &--bg_img{
      position: relative;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      max-width: unset;
    }
    &--title{
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      padding: 1em;
      z-index: 1;
    }
  }
  &.col-md-4{
    .entry_header{
      height: 230px;
    }
  }
}
//===== ENDpost listing =====

.pagination{
  justify-content: center;
}
.wpml-ls-current-language .wpml-ls-flag{
  opacity: 0.7;
  box-shadow: 0 0 2px 2px rgba($dark, .8);
}
.wpml-ls-flag:hover{
  opacity: 0.8;
}
//@import "parallax_css";
@import "parallax_js";
@import "property";
@import "heroblock";
@import "reviews";
@import "../assets/slick";
@import "../assets/slick-theme";
@import "media";
